In [ ]:
### To create a new cell  Alt  + enter

### to execute a line of code in jupyter Ctrl + Enter

In [1]:
print('hello world')

hello world

In [2]:
### cell to copy
print('hello world')

hello world

In [ ]:
### to copy one cell /block 
## select the cell you want to copy and hit ctrl + c

This is a markdown -
more like a comment - but can be used as a heading
this is not executable

print('this is markdown')

In [3]:
print('this is where i type my code')

this is where i type my code

---

In [ ]:
## Python Basics

### 1.0 Comments

In [13]:
# this is an example of a comment

In [15]:
print('hello world')   ## this is hello world

print('this is my 2nd statement')   ## this is also an example of a comment

hello world
this is my 2nd statement

In [16]:
print('hello world-python basics')

hello world-python basics

In [18]:
print("hello world-python basics")

hello world-python basics

In [19]:
print(
'''
this is an example of printing multiple lines
this is 2nd line
this is the 3rd line
'''
)

this is an example of printing multiple lines
this is 2nd line
this is the 3rd line

In [20]:
print(
"""
this is an example of printing multiple lines
this is 2nd line
this is the 3rd line
"""
)

this is an example of printing multiple lines
this is 2nd line
this is the 3rd line

In [21]:
'this is a string'

'this is a string'

In [23]:
print(109.32)

109.32

## Basic Data Types in Python
- strings
- integers
- float
- boolean

In [24]:
var1 = ' python is easy to learn, difficult to master'

In [26]:
## to understand the type of variable, we use type
type(var1)

str

In [28]:
print(var1)

 python is easy to learn, difficult to master

####  what is a variable
- a variable is more like a container that holds the value 
- a variable is create to be reused many times in the program
- a variable can be of any datatype supported by python, like integer, float, boolen, string, lists, tuples, dictionary etc

In [29]:
var2 = 120
print( 'type of var2 :', type(var2))
print(var2)

type of var2 : <class 'int'>
120

In [30]:
var3 = 120.99
print( 'type of var2 :', type(var3))
print(var3)

type of var2 : <class 'float'>
120.99

In [31]:
var4 = True
print( 'type of var2 :', type(var4))
print(var4)

type of var2 : <class 'bool'>
True

## Additional Datatypes in Python 

Mutable/ Immutable data types

Mutable types = List, dictionary
Immutable types = strings, int, float, tuples

In [35]:
var10 = [1,'i am a list',3.2,[1,2],(1,2),{1:('A','B')}]
print( 'type of var10 :', type(var10))
print(var10)

type of var10 : <class 'list'>
[1, 'i am a list', 3.2, [1, 2], (1, 2), {1: ('A', 'B')}]

In [41]:
var20 = (1,'i am a list',3.2,[1,2],(1,2),{1:('A','B')})
print('type of var20 :',type(var20),' var20 :',var20)

type of var20 : <class 'tuple'>  var20 : (1, 'i am a list', 3.2, [1, 2], (1, 2), {1: ('A', 'B')})

In [37]:
##vaiable rules
1var1 = 10

SyntaxError: invalid syntax (Temp/ipykernel_11568/3505782434.py, line 2)

In [40]:
Var11 = 10
print(Var11)

10

In [42]:
### RE ASSIGNMENT OF variables

In [44]:
my_var2 = 200

In [45]:
my_var2 = my_var2 + 300

In [47]:
print(my_var2)

500

In [48]:
### Arithmetic operations with variables

In [50]:
my_var2 = my_var2 - 100
print(my_var2)

300

In [54]:
my_var2 = my_var2 * 2
print(my_var2)

my_var2=my_var2**2
print(my_var2)

my_var2 = my_var2/1000
print(my_var2)

16588800000.0
2.7518828544e+20
2.7518828544e+17

In [55]:
print("this is helloworld")

this is helloworld

In [ ]:
### mutable data types - lists and dictionaries

In [58]:
### how to access data from lists 
var10 = [1,'i am a list',3.2,[1,2],(1,2),{1:('A','B')}]
### to access the 2nd item in the list 
print( 'the 2nd item in the list is : ', var10[1])

the 2nd item in the list is :  i am a list

In [59]:
var10[2]

3.2

In [60]:
## to access the last item
var10[5]

{1: ('A', 'B')}

In [61]:
var10[-1]

{1: ('A', 'B')}

In [62]:
### to update an item in a list using a index
###  let us say we want to update "i am a list" ==> "updated"

var10[1] = "updated"

In [63]:
var10

[1, 'updated', 3.2, [1, 2], (1, 2), {1: ('A', 'B')}]

In [70]:

## tuples are immutable
var10 = (199,'i am a list',3.2,[1,2],(1,2),{1:('A','B')})

### to access an item in the tuple
var10[4]
## to update a tuple - update 3.2 to 198.1
var10[2] = 198.1 ### we get an error because tuples are immutablity

TypeError: 'tuple' object does not support item assignment

In [71]:
var10 = (199,'i am a list',3.2,[1,2],(1,2),{1:('A','B')})
type(var10)

tuple

In [74]:
mystr0 =  ' python is'
mystr1 = ' a great '
mystr2 = 'programming language'

### to join or concatente strings == + "sign"
print( mystr0 + mystr1 + mystr2)

 python is a great programming language

## Operators

In [76]:
varx = 20
vary = 100
print( varx + vary)  ## + is the operator which sums varx and vary

120

In [77]:
print( varx - vary)  ## - is the operator which subtracts varx and vary

-80

In [78]:
print( vary/ varx) ### * is the operator

5.0

In [82]:
varx = 209
vary = 90

print('this is division :', varx/vary)
print( 'this is floor division :' , varx // vary)

this is division : 2.3222222222222224
this is floor division : 2

In [159]:
### dictionary
var21 = {'k1':[100,200,300], 'k2':(199,288,'abc')}
print(type(var21))
print(var21)

<class 'dict'>
{'k1': [100, 200, 300], 'k2': (199, 288, 'abc')}

In [164]:
var21.items()

dict_items([('k1', [100, 200, 300]), ('k2', (199, 288, 'abc'))])

In [165]:
var21.keys()

dict_keys(['k1', 'k2'])

In [163]:
var21['k2']

(199, 288, 'abc')

In [166]:
### 
varw = 123
varz = 200.30
print(varw)

123

In [168]:
varw =  500
print(varw)

500

In [89]:
### to access the values/items in the dictionary
print(var21['k1'])

[100, 200, 300]

In [91]:
print(var21['k2'])

(199, 288, 'abc')

In [95]:
### accessing strings through index

var15 = 'this is a string'

### to access the letter "t" in string
var15[0]

### to access the word "this" in string - we use a slice notation

var15[0:4]

'this'

In [100]:
## slice notation in list
var10 = [199,'i am a list',3.2,[1,2],(1,2),{1:('A','B')}]
print(type(var10))

## extract the string "i am a list" from this list 
var10[1]

<class 'list'>

'i am a list'

In [102]:
### to extract the 1st 3 items of list 
var10[0:3]

[199, 'i am a list', 3.2]

In [104]:
### concatenation vs addition

### when both iterables are strings, + sign acts as a concatenator
### when both iterables are numbers/int/floats + sign adds the numbers

print ( 'abc'+ 'def')

abcdef

In [106]:
print(123 + 456)

579

In [108]:
print(123 + 'abc')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [110]:
print ( 129.8 + 139.5)

269.3

In [111]:
### variable assignments 

### variable reassignment 
var1 = 100
var2 = 200

var1 = var1 + var2
print(var1)

300

In [112]:
var3,var4 = 300,500

In [114]:
print(var3)

300

In [116]:
print(var4)

500

In [120]:
var5 = var6 = 299

print(var5)
print(var6)

299
299

In [122]:
### 
var20 = 100
## add 35 to var20
var20 = var20 + 35
print(var20)

135

In [125]:
var20 = 200
var20 += 35
print(var20)

235

In [127]:
var20 = 200
var20 -= 35
print(var20)

165

In [ ]:
### Relational Operator

In [134]:
var99 = 100
var97 = 100

print(var99 <= var97)

True

In [131]:
print(var99 > var97)

True

In [139]:
vara = 'johnson'
varb = 'john'
print(vara == varb)

False

In [ ]:
## Logical Operators

In [141]:
var3 = 10
var4 = 10

print(var3>=var4 or var43> var4)

True

In [145]:
var3 = 10
var4 = 10

print(not var4)

False

In [152]:
var = 0
var3 = 1
if not var:
    print('True')

True

In [154]:
if  var:
    print('True')
else:
    print('false')

false

In [ ]:
var5 = 10
var6 = 10

print(var3>=var4 or var43> var4)

In [ ]:
### identiity and membership operators
## is and is not
## in and not in

In [149]:
varx = 5
print( type(varx) is int)

True

In [150]:
print( type(varx) is not int)

False

In [151]:
varc =  [ 1,2,3,4]
print(1 in varc)
print(10 in varc)

True
False

In [155]:
varc =  (1,2,3,4)
print(10 in varc)

False

In [157]:
vare = 'this is a string'
print( 'this' in vare)

True

In [158]:
import numpy
import pandas 
import seaborn 
import matplotlib

In [ ]:
### dynamic typing

In [169]:
varu = 100
print(type(varu))

<class 'int'>

In [170]:
varu = 'abc'
print(type(varu))

<class 'str'>

In [171]:
varu = 128.88
print(type(varu))

<class 'float'>