# Python for Programming
# Agenda
- Jupyter Refresher
- Jupyter shortcuts
- Python Basics :- Comments, Variables, Data Types
- Operators:- Arithmetic, assigment, logical, relational
- Common Packages

# 1. Jupyter   Refresher
- Jupyter information available at      https://jupyter.org

- Jupyter is an IDE(Integrated  Development Environment)
- Open source application that allows us to create and share documents that contain live code, 
  equations,visualizations, narrative text 
- can be used for data cleaning, transformation,simulation,statistical modelling,data viz,machine learning and more!!!!
- python code written in Jupyter environment has .ipynb extn
  
- Used for coding Python, R scripts ,Scala and packages like numpy,scipy,pandas,matplotlib,seaborn,plotly etc

- note books can be shared with others using email,dropbox,github and the jupyter notebook viewer

- interative output- code can produce html images,videos, etc

- integration with big data tools like apache spar, from python, r and scale.

- explore of data using pandas, scikit learn, ggplot, tensorflow etc

## Jupyter Features

  - Auto indentation 
  - press tab Auto filling
  - Press shift + tab for help/manuals

# 2. Key Strokes in Jupyter (Shortcuts)
    -to add a new cell press alt + enter
    
    -to execute/run a cell press ctrl + enter 
    
    -to delete a cell press esc , then press ctrl + d
    
    -to copy a group of cells and paste in another cell
        go to the particular cell
        press Esc key
        press shift key + use upward or downward arrow keys to select the number of cells
        ctrl + c to copy
        go to a new cell
        press ctrl + v to paste
    
     - Cell Notations
         - Markdown - allows us to write comments about code without using "#"
         - code  - allows us to write code and run the code
         - rawnbconvert - allows to convert the notebook to another format like html etc
      
     - to create whitespace between 1 cell and another cell
        - change the characteristic of the cell to Markdown                                 
                                      
        - enter 3 dashes in the cell and press alt + enter

In [ ]:
### jupyter trick - type half of the word "my" and press "TAB" key. we will see list of words that start with word "my"

In [ ]:
## jupyter trick- if we want to know what a particular function does. we can call python help in jupytre by pressing
##  shift + tab key

# 3. Basic Python - Comments, Variables, and Data types

## Comments

In [ ]:
# This is a comment
print(1)

1

In [ ]:
"""
This is comment
in multiple lines
"""
print(1)

1

## Datatypes

In [ ]:
var1 = 2 # int type
var2 = 'Learning is fun' #string type
var3 = 2.3 #float type
var4 = '23' #string type
var5 = True #bool type

In [ ]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'bool'>

## Variables



Variables are objects that hold a value 

eg - var1 = 100   --> 100 is assigned to the variable "var1" 

##### internally what happens
var1 is assigned an address in the memory and the value of 100 is assigned to var1


Rules in Python for variable names
The names you use when creating these labels need to follow a few rules:

1. Names can not start with a number.
2. There can be no spaces in the name, use _ instead.  WRONG - VAR 1  RIGHT - VAR_1
3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
4. It's considered best practice (PEP8) that names are lowercase.
5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
   or 'I' (uppercase letter eye) as single character variable names.
6. Avoid using words that have special meaning in Python like "list" and "str"

In [ ]:
### let us create an object called myvar0 and assign number 5 to it
myvar0 = 5
print(myvar0)

5

In [1]:
myVar02=3000
print(myvar02)  ### case sensitive..hence error

NameError: ignored

### Concept of Dynamic Typing in Python
type of the variable will change based on the value assigned to the variable
very powerful, but can be abused if the programmer does not take enough precautions

In [ ]:
my_new_var0 = 100
type(my_new_var0)

int

In [ ]:
my_new_var0 = 199.99
type(my_new_var0)

float

In [ ]:
my_new_var0 = 'this is a string'
type(my_new_var0)

str

In [ ]:
my_new_var0 = [1,2,3]
type(my_new_var0)

list

### Re assignment of variables 
 concept of operating with a variable and assigning the output of operation to the same variable

In [ ]:
### reassignment
my_var2 = 10
my_var2 = my_var2 + my_var2
print(my_var2)

20

In [ ]:
print(my_var2*1000)

20000

In [ ]:
### to know the data type of a variable use type function
print(type(my_var0))

<class 'int'>

In [ ]:
### python follows what is called as "dynamic typing" 
### based on the data assigned the type of the variable can change
my_var4 = 10000
print(my_var4)
print(type(my_var4))

10000
<class 'int'>

In [ ]:
my_var4 = " first string "
print(my_var4)
print(type(my_var4))

 first string
<class 'str'>

In [ ]:
my_var5 = ' second string '

In [ ]:
### string concatenation - two strings are added
my_var6 = my_var4 + my_var5
print(my_var6)
print(type(my_var6))

 first string  second string
<class 'str'>

In [ ]:
my_var7 = 100
my_var8 = my_var6 + my_var7
print(my_var8)

### gives an error as below

TypeError: must be str, not int

In [ ]:
print(my_var6,my_var7)

 first string  second string  100

# 4. Operators
The operator can be defined as a symbol which is responsible for a particular operation between two operands. Operators are the pillars of a program on which the logic is built in a specific programming language. Python provides a variety of operators, which are described as follows.

- Arithmetic operators
- Comparison operators
- Assignment Operators
- Logical Operators

## Arithmetic

Basic Arithmetic In Python
-  Numbers in Python - INTEGERS (both +ve and -ve numbers), Floating point number (decimal numbers)
-  Basic Arithmetic Operations

In [ ]:
## TO PRINT IN PYTHON
## 
print("this is arithmetic add")
print(1+2)
print(3+4)

this is arithmetic add
3
7

In [ ]:
## Addition 
### recommend a print statement
print(1 + 2)
print(3 + 4)

### the output of 3+4 overrides the output of 1+2

3
7

In [ ]:
### subraction
print(100-20)
print(-100-20)

80
-120

In [ ]:
###multiplication
print(100*20)
print(-100.30  * 21.55)

2000
-2161.465

In [ ]:
#division
print(300/20)
print(3/2)
print(-200/19)
print(-100/-10)

15.0
1.5
-10.526315789473685
10.0

In [ ]:
### floor division ### quotient
### the // operator it truncates the decimal without rounding and returns only the integer result
print(7.0//4)

1.0

In [ ]:
### Module 
print(7.0 % 4)

3.0

In [ ]:
### powers
print(2**3)

8

In [ ]:
print(2**-3)

0.125

In [ ]:
print(2**0.5)

1.4142135623730951

### BODMAS (Bracket, Off, Division, Multiplication, Addition, Subtraction)

In [ ]:
print(2 + 10 * 10 + 3)

105

In [ ]:
print((2+10) * (10+3))

156

In [ ]:
print((0.1+0.2)-(0.3))

### ideally we should get a zero.
### python and our computers follows what is called as "floating point accuracy"
### even though for the naked eye, the answer is zero , python returns a number which extremely closer to zero, 
#### but not exactly zero
#### 5.551115123125783e-17 can be translated as = 1/5.551115123125783 e**17

5.551115123125783e-17

## Assignment Operator

= It asssigns value of right side of expression to left side operand

Combined operators:- +=, -=, *=, /=, %=, //=, **=

In [ ]:
var1 = 21
var2 = 'great learning'
var3 = '21'

In [ ]:
# Multiple assignment
a, b, c = 5, 6, 7
print(a)
print(b)
print(c)

5
6
7

In [ ]:
# Multiple assignment
x = y = z = 99
print(x)
print(y)
print(z)

99
99
99

In [ ]:
var1 = 2
print(var1, 'before executing')
var1 +=2
print(var1, 'after executing +=')

2 before executing
4 after executing +=

In [ ]:
var1 = 2
print(var1, 'before executing')
var1 -=2
print(var1, 'after executing -=')

2 before executing
0 after executing -=

In [ ]:
var1 = 20
print(var1, 'before executing')
var1 //=2
print(var1, 'after executing //=')

20 before executing
10 after executing //=

Similarly we can do this for other operators as well

## Relational Operator

*   '<' Less than
*   '>' Greater than
*   '==' Equal to
*   '!=' Not equal to
*   '>=' Greater than or equal to
*   '<=' Less than or equal to

In [ ]:
4<5

True

In [ ]:
var1 = 10
var2 = 20
var2>var1

True

In [ ]:
var1 = 10
var2 = 20
var2==var1

False

In [ ]:
var1 = 10
var2 = 20
var2<=var1

False

---

## Logical Operator

- Logical AND: True if both the operands are true	x and y
- Logical OR: True if either of the operands is true	x or y
- 	Logical NOT: True if operand is false

In [ ]:
var1 = 10
var2 = 20
print(var2>=var1 or var2>var1)

True

In [ ]:
var1 = 10
var2 = 10
print(var2>=var1 and var2>var1)

False

In [ ]:
var = 0
var1 = 10
not var1

False

In [ ]:
var = 0
var1 = 1
if not var:
    print("True")

True

## Identity & Membership operators

- is and is not
- in and Not in

In [ ]:
var1= 5
print(type(x) is int)

True

In [ ]:
var1= 5
print(type(x) is not int)

False

In [ ]:
list1=[1,2,3,4,5]

print(1 in list1)
print(10 in list1)

True
False

In [ ]:
list1=[1,2,3,4,5]

print(1 not in list1)
print(10 not in list1)

False
True

# 5. Strings in Python

In [ ]:
'hello'
print('hello')
print("hello i am a string")

hello
hello i am a string

In [ ]:
print("hello, i am Kevin O'Spacey")

### use of double quotes is imperative when we have strings with characters like apostrophe

hello, i am Kevin O'Spacey

In [ ]:
mystr1= "12305"
print(mystr1)
print(type(mystr1))

12305
<class 'str'>

## STRING INDEXING
if we want to find specific characters in the string or do operations with every or all character in a string, indexing is used
index in python starts at 0

In [ ]:
mystr1 = 'hello world'
print(mystr1)

hello world

In [ ]:
### to find the length of string mystr1. length is inclusive of space
len(mystr1)

11

letter                index     reverse index
h                      0        -11
e                      1        -10
l                      2        -9
l                      3        -8
o                      4        -7
                       5        -6
w                      6        -5 
o                      7        -4
r                      8        -3
l                      9        -2 
d                      10       -1

In [ ]:
  var = "this is python"
  var[0:14:3]

'tssyo'

In [ ]:
var = "this is python"
var[0:14:2]

'ti spto'

In [ ]:
var.split()

['this', 'is', 'python']

In [ ]:
### to get the first character of a string
print(mystr1[0])

h

In [ ]:
print(mystr1[-11])

h

In [ ]:
### to extract w 
print(mystr1[6])
print(mystr1[-5])

w
w

In [ ]:
## to extract o
print(mystr1[4])  ##--- index
print(mystr1[-7]) ## -- reverse index
print(mystr1[7])  ## --index 
print(mystr1[-4]) ## -- reverse index

o
o
o
o

In [ ]:
### to get the 4th character of a string
print(mystr1[3])

In [ ]:
### to get the last character of a string
print(mystr1[10])
print(mystr1[-1])

###### STRING SLICING
 slicing captures a slice of a string
 Format of slicing - stringname[start:stop:step]
 start - index from where the slicing should start
 stop  - the index we will go up to but does not include
 step  - is the size of "jump" we take while slicing

In [ ]:
mystr2 = 'abcdestring'

index notation
  letter         index          reverse index
   a               0              -11
   b               1              -10
   c               2              -9
   d               3              -8  
   e               4              -7
   s               5              -6
   t               6              -5
   r               7              -4
   i               8              -3
   n               9              -2 
   g               10             -1

In [ ]:
### grab the portion of string representing "destrin"
### start = 3, stop = 10
print(mystr2[3:10])

destrin

In [ ]:
### grab the portion of string representing "cde"
print(mystr2[2:5])

cde

In [ ]:
### to grab - abcdes
print(mystr2[0:6])
print(mystr2[:6])

abcdes
abcdes

In [ ]:
### to grab - cdestring
print(mystr2[2:11])
print(mystr2[2:])

In [ ]:
### step example  - abcdestring

print(mystr2[0:11:1])

abcdestring

In [ ]:
### step example  - abcdestring

print(mystr2[0:11:2])

acetig

In [ ]:
### step example  -string
print(mystr2[5:11])

string

In [ ]:
###reverse index 
mystr2[0:-1]

'abcdestrin'

## Mutability and Immutability

Mutable types - lists, dictionary
immutable types - strings, tuple

In [ ]:
### STRING IMMUTABILITY

mystr3 = "xyzwk588"
print(mystr3)

xyzwk588

In [ ]:
## to get the letter in index 2
mystr3[2]

'z'

In [ ]:
## if we try to change or update the 2nd index value from z to A

mystr3[2] = 'A'

### strings are immutable as a resut..it cannot be changed

TypeError: 'str' object does not support item assignment

### Built in Functions in Strings

In [ ]:
### length of a string
print(mystr2)
print(len(mystr2))

xyzwk588
8

In [ ]:
### to convert a string from lower case to upper case
print(mystr2)
print(mystr2.upper())

xyzwk588
XYZWK588

In [ ]:
### jupyter trick
### to know about all the method() that can be used with strings,place the cursor after string and . 
### press tab key
# mystr2.

In [ ]:
###SPLIT  - splits the string
mystr5 = "SPLIT ME PLEASE"
mystr5.split()

['SPLIT', 'ME', 'PLEASE']

In [ ]:
###SPLIT  - splits the string based on ; as delimiter
mystr6 = "SPLIT;ME;PLEASE"
mystr6.split(sep=';')

In [ ]:
mystr6 = "SPLIT;ME;PLEASE"
mystr6.split(';')

['SPLIT', 'ME', 'PLEASE']

In [ ]:
### To split by a specific element , splits the string based on the iterable giving within paranthesis
### but removes the iterable from the output 

mystr7= "split by a specific item in the string"
mystr7.split('it')

###### FIND and REPLACE in a STRING

In [ ]:
### count gives the occrences of a given word or character in paranthesis
"find the occurrences of the word the".count('the')

3

In [ ]:
### count gives the occrences of a given word or character in paranthesis and in the first 10 characters of the string 

print("find the occurrences of the word the".count('the',0,10))

1

In [ ]:
### count gives the occrences of a given  character in paranthesis and in the first 20 characters of the string 

print("find the occurrences of the word the".count('c',0,20))

3

In [ ]:
### determine whether the target string ends with a given substring

print('checks the target string ends with a given substring,like,end'.endswith('end'))

True

In [ ]:
print('checks the target string ends with a given substring,like,end'.endswith('like'))

False

### to learn about built in functions

python.org

# Common packages for data science

- Input Data:- CSV, EXCEL, Json, SQL, MongoDB, Images, Text Data, etc

- When you install Jupyter via anaconda distribution, most of the packages come in by default

- When installing Jupyter outside anaconda distribution, you will need to use the following install commands
- Libraries that need to be installed with pip or conda
 - conda install sqlalchemy
 - conda install lxml
 - conda install html5lib
 - conda install BeautifulSoup4

1. Numpy and Pandas:- working with numpy arrays and pandas data frames
  - DFs are 2d data structures.
  - Data is aligned in a tabular format consists of rows and columns
  - DataFrames can hold multiple data types
2. Matplotlib and Seaborn
  Various plots we will see in upcoming weeks
3. Sklearn
  - Used for machine learning lagorithms
4. Tensorflow and Keras
  - Used for deep learning

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import math

---