___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Groupby

The groupby method allows you to group rows of data together and call aggregate functions

In [21]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [22]:
df = pd.DataFrame(data
                 )

In [32]:
df.groupby("Company")

In [ ]:
data={'company':['infy','wipro','tcs'],'name':['sup','sam','kom'],'sal':[200,300,400]}

In [9]:
DD={'Company':['INFY','INFY','WIPRO','wipro','TCS','TCS'],'name':['sup','sam','komali','hem','purple','panda'],'sal':[200,300,400,500,600,700]}
dfrr=pd.DataFrame(DD)

In [10]:
dfr=pd.DataFrame(data)

In [29]:
dfrr

  Company    name  sal
0    INFY     sup  200
1    INFY     sam  300
2   WIPRO  komali  400
3   wipro     hem  500
4     TCS  purple  600
5     TCS   panda  700

In [35]:
dfrr['sal'].mean()

450.0

In [23]:
dfr['sal'].mean()

KeyError: 'sal'

In [24]:
dfrr.groupby['company']

TypeError: 'method' object is not subscriptable

** Now you can use the .groupby() method to group rows together based off of a column name. For instance let's group based off of Company. This will create a DataFrameGroupBy object:**

You can save this object as a new variable:

In [17]:
df.groupby("Company")

And then call aggregate methods off the object:

In [25]:
by_comp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [26]:
df.groupby('Company')

More examples of aggregate methods:

In [ ]:
by_comp.std()

In [28]:
by_comp.min()

          Person  Sales
Company
FB          Carl    243
GOOG     Charlie    120
MSFT         Amy    124

In [27]:
by_comp.max()

          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340

In [ ]:
by_comp.count()

In [ ]:
by_comp.describe()

In [ ]:
by_comp.describe().transpose()

In [ ]:
by_comp.describe().transpose()['GOOG']

# Great Job!