                      *

*  *

*  *  *

*  *  *  *

*  *  *  *  *

*  *  *  *  *  *

In [6]:
import numpy as np

In [7]:
import pandas as pd

In [8]:
data = pd.DataFrame({'Brand': ['Maruti', 'Hyundai', 'Tata',
                               'Mahindra', 'Maruti', 'Hyundai',
                               'Renault', 'Tata', 'Maruti'],
                     'Year': [2012, 2014, 2011, 2015, 2012,
                              2016, 2014, 2018, 2019],
                     'Kms Driven': [50000, 30000, 60000,
                                    25000, 10000, 46000,
                                    31000, 15000, 12000],
                     'City': ['Gurgaon', 'Delhi', 'Mumbai',
                              'Delhi', 'Mumbai', 'Delhi',
                              'Mumbai', 'Chennai',  'Ghaziabad'],
                     'Mileage':  [28, 27, 25, 26, 28,
                                  29, 24, 21, 24]})
 
# displaying the DataFrame
display(data)

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012       50000    Gurgaon       28
1   Hyundai  2014       30000      Delhi       27
2      Tata  2011       60000     Mumbai       25
3  Mahindra  2015       25000      Delhi       26
4    Maruti  2012       10000     Mumbai       28
5   Hyundai  2016       46000      Delhi       29
6   Renault  2014       31000     Mumbai       24
7      Tata  2018       15000    Chennai       21
8    Maruti  2019       12000  Ghaziabad       24

In [9]:
data.iloc[Maruti]

NameError: name 'Maruti' is not defined

__

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course Exercises 

This is an optional exercise to test your understanding of Python Basics. If you find this extremely challenging, then you probably are not ready for the rest of this course yet and don't have enough programming experience to continue. I would suggest you take another course more geared towards complete beginners, such as [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20)

In [ ]:
for i in range(0,5):
    for j in range(0,i+1):
        print("*",end=" ")
        
    print('\n')

*

* *

* * *

* * * *

* * * * *

In [ ]:
# the amstrong number
a=int(input('Enter the  amstrong number a'))
b=len(str(a))
print(b)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
LIMIT = 10
n=1
total=0
for n in range(1,10):
    if n%3== 0:
        total+=n
        n+=1
        
print(total)

18

# the fibbonaci series

In [ ]:
import pandas as pd
from numpy.random import randn

ModuleNotFoundError: No module named 'pandas'

In [ ]:
inside=[1,2,3,1,2,3]
outside=['g1','g1','g1','g2','g2','g2']
hier_index=list(zip(outside,inside))
hierarchial_index= pd.MultiIndex.from_tuples(hier_index)
df= pd.DataFrame(randn(6,2),hierarchial_index,['A','B'])

NameError: name 'pd' is not defined

In [ ]:
df

In [ ]:
a=int(input('Enter the number a'))
b=int(input('Enter the number b'))
n=int(input('Enter the number of elements'))
print(a,b)
while n-1:
    
    c= a+b
    a=b
    b=c

    print(c,end=' ')
    n=n-1

Enter the number a11
Enter the number b12
Enter the number of elements3
11 12
23 35

In [ ]:
df=pd.DataFrame({'col1':[1,2,3,4,5] ,'col2':[4,5,6,7,8]})

In [ ]:
import pandas as pd

In [ ]:
df.head()
df['col2'].unique()

In [ ]:
len(df['col2'].value_counts())

In [ ]:
my_tuple=()
my_tuple=(1,2,3)
my_tuple=my_tuple+(4,5,6)
my_tuple_1=(1,2,3,['hindi','phyton'])
my_tuple_1[3][1]='english'
my_tuple_1

(1, 2, 3, ['hindi', 'english'])

In [ ]:
b=int(input('enter the value of b'))
a=int(input('enter the value of a'))
print('addition of a and b',(a+b))

enter the value of b11
enter the value of a12
addition of a and b 23

my_list= [1,2,3]

In [ ]:
my_list[0]

In [ ]:
t=(1,2,3)

In [ ]:
t[0]

In [50]:
my_list=[1,2,3]

In [46]:
my_list.append([122,55])

In [47]:
my_list

[1, 2, 3, [122, 55]]

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

In [51]:
my_list.extend([122,55])

In [52]:
my_list

[1, 2, 3, 122, 55]

In [ ]:
my_list[1]

In [ ]:
my_list.insert(1,'example')

** What is 7 to the power of 4?**

In [ ]:
print(my_list  + ['just for examples'])

In [ ]:
7**4

In [ ]:
print(my_list *2)

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s="Hi there sam";

In [ ]:
s.split()

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print('the diameter of {} is :{}'.format(planet,diameter))

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2][0]

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d[target[4]]

** What is the main difference between a tuple and a list? **

In [ ]:
# Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
domainGet('user@domain.com')

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [12]:
s='Is there a dog here?'

In [10]:
def findDog(s):
    
     return 'dog'in s.lower().split()

In [ ]:
findDog(s)

In [32]:
s="my mother cooks very well and my mother also teaches very well"

In [33]:
list3=s.lower().split()

In [34]:
list3

['my',
 'mother',
 'cooks',
 'very',
 'well',
 'and',
 'my',
 'mother',
 'also',
 'teaches',
 'very',
 'well']

In [37]:
list4=[[1,2,3,4],[5,6,7,8]]

In [38]:
list4[1][0]

5

In [39]:
list4.append(4)

In [44]:
list4.extend(5)

TypeError: 'int' object is not iterable

In [41]:
list4

[[1, 2, 3, 4], [5, 6, 7, 8], 4]

In [11]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [19]:
def duplicate():
    lst=[1,2,1,2,3,4,3]
    duplst=[]
    i=0
    j=0
    d=len(lst)
    for i in range(0,d):
        for j  in range(i+1,d):
            if lst[i] == lst[j]:
                duplst.append(lst[i])
    
        print(list(duplst) )

In [ ]:
list(duplist)

In [25]:
list1=[1,2,3,4,5]
list2=[ 1,1,1,2,2,3,3,4,4,4,5,5,5]

In [26]:
def countX(list, x):
    count = 0
    for ele in list2:
        if (ele == x):
            count = count + 1
    return count

In [27]:

def counting():
    values=[]
    j=0
    k=len(list1)
    print(list1[0])
    for i in range(0,k):
        k=countX(list2,list1[i])
   #print(k)
        values.append(k)
        j=j+1
    return values

In [28]:
counting()

1

[3, 2, 2, 3, 3]

In [ ]:
def countDog(st):
    count=0
    for word in st.lower().split():
        if word== 'dog':
            count+=1
        
        return count

In [ ]:
duplicate()

[1, 2, 3]

In [ ]:
duplicate()

[1, 2, 3]

In [ ]:
duplicate()

7

In [ ]:

num=6
m=(num*2)-1
for i in range(0,num):
    for j in range(0,m):
        print(end="  ")
        m=m-1
    for j in range(0,i+1):
        print("*",end="  ")
     
    
    print('\n')

In [ ]:
countDog('This dog runs faster than the other dog dude!')

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [ ]:
seq = ['soup','dog','salad','cat','great']

In [ ]:
a=int(input('Enter the number a'))
b=int(input('Enter the number b'))
n=int(input('Enter the number of elements'))
while n-1:
    c= a+b
    a=b
    b=c
    n=n+1

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    pass

In [ ]:
caught_speeding(81,True)

In [ ]:
caught_speeding(81,False)

# Great job!